html {
    font-size: 16px;
    font-family: "franklin-gothic-urw", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    color: #0071bc;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.corner-link {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.corner-image {
    width: 100px;
    height: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
}

.corner-image:hover {
    opacity: 1;
}

#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#header video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#header h1,
#header h2 {
    margin: 0;
    padding: 2vh 14vw;
    color: #fff;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    font-size: 4.5rem;
    font-style: bold;
}

.start-button {
    cursor: pointer;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    background-color: transparent;
    color: #fff;
    border-radius: 2rem;
    font-weight: bold;
    font-family: "franklin-gothic-urw", sans-serif;
    letter-spacing: 0.2rem;
    border: solid 2px #fff;
    transition: background 0.3s ease-in-out;
}

.start-button:hover {
    background-color: #c9302c;
}

h3 {
    font-weight: bold;
    font-size: 2rem;
}

p {
    color: #000;
    font-family: "franklin-gothic-urw", sans-serif;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding: 2vh 0;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
    background-color: #000;
    border-radius: 0;
    border-top: 4px solid #DBCEC2;
}

#features {
    padding: 10vh 0;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.main {
    color: #fafafa;
}

.step {
    padding-bottom: 50vh;
    opacity: 0.25;
    min-height: 50vh;
}

.step.active {
    opacity: 0.9999;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 13px;
    background-color: #e2ccbb;
    color: #000;
    border-radius: 42px;
    border: 2px solid #FFF;
    background: #DBCEC2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.step img {
    width: 100%;
}

.legend-container {
    all: unset;
    display: block;
    text-align: left;
    position: relative;
    max-width: 300px;
    margin-left: 2rem;
    background: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    transition: opacity 1s ease-in-out;
    border: none;
    border-radius: 0;
}

.legend-top-left {
    top: 10px;
    left: 10px;
}

.legend-top-right {
    top: 10px;
    right: 10px;
}

.legend-bottom-left {
    bottom: 10px;
    left: 10px;
}

.legend-bottom-right {
    bottom: 10px;
    right: 10px;
}

@media (max-width: 750px) {

    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}


.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}