* {
    font-family: 'franklin-gothic-urw', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited {
    color: #0071bc;
}

#map {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#header {
    margin: auto;
    width: 100%;
    position: relative;
    z-index: 5;
    height: 100vh; /* Adjust as needed, e.g., '400px' for fixed height */
    overflow: hidden;
}

#header video {
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#header h1,
#header h2,
#header p {
    margin: 0;
    padding: 2vh 2vw;
    text-align: center;
}

#footer {
    width: 100%;
    min-height: 5vh;
    padding: 2vh 0;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
    position: relative;
    z-index: 5;
}

#features {
    padding: 10vh 0;
}

.hidden {
    visibility: hidden;
}

.centered {
    width: 50vw;
    margin: 0 auto;
}

.lefty {
    width: 33vw;
    margin-left: 5vw;
}

.righty {
    width: 33vw;
    margin-left: 62vw;
}

.fully {
    width: 100%;
    margin: auto;
}

.main {
    color: #fafafa;
}

.step {
    padding-bottom: 50vh;
    opacity: 0.25;
}

.step.active {
    opacity: 0.9;
}

.step div {
    padding: 25px 50px;
    line-height: 25px;
    font-size: 13px;
    background-color: #e2ccbb;
    color: #000;
}

.step img {
    width: 100%;
}

/* Mobile-specific adjustments */
@media (max-width: 750px) {
    .centered,
    .lefty,
    .righty,
    .fully {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Fix for touch interactions in mobile browsers */
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan,
.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
    touch-action: unset;
}
